body{
 height: 100vh;
 display: flex;
 flex-direction: column;
 margin: 0;
}

.container{
 flex: 1;
 display: flex;
 flex-direction:row;
}

.game-container{
    display: flex;
    flex-direction: column;
    flex: 3;
}



.board-container{
    display: flex;
    flex:3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.row{
    display:flex;
    flex-direction: row;
   
}

.result-container{
    display: flex;
    flex:1;
}

.tile{
    width: 80px;
    height:80px;
    margin: 2px;
    background-color: cadetblue;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#comment{
    font-size: 20px;
    background-color: yellow;
    font-weight: 800;
}

.scoreboard-container{
    display: flex;
    flex-direction: column;
    flex:1;
}

.scoreboard-head{
 display: flex;
 flex-direction:row;
 background-color:aqua ;
 justify-content: center;
 font-size:44px;
 margin: 4px;
}

.score-container{
display: flex;
flex-direction:column;
margin: 4px;

}

.score-type{
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-size:34px;
    text-decoration: underline;
    
}

.scores{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 4px;
    
}

.x-score-head{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:18px;
    font-weight: 700;
}

.x-score{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.o-score-head{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:18px;
    font-weight:700;
}

.o-score{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.score-reset-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 4px;

}

